@font-face {
  font-family: "iconfont"; /* Project id 2635257 */
  src: url('iconfont.woff2?t=1624700244487') format('woff2'),
       url('iconfont.woff?t=1624700244487') format('woff'),
       url('iconfont.ttf?t=1624700244487') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e60f";
}

.icon-dianhua:before {
  content: "\e611";
}

.icon-youxiang:before {
  content: "\e612";
}

.icon-diqiu:before {
  content: "\e614";
}

.icon-erweima:before {
  content: "\e618";
}

.icon-liuyan:before {
  content: "\e61b";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-dingbu:before {
  content: "\e624";
}

.icon-youjiantou:before {
  content: "\e625";
}

.icon-shangjiantou:before {
  content: "\e626";
}

.icon-xiajiantou:before {
  content: "\e627";
}

.icon-zuojiantou:before {
  content: "\e628";
}

.icon-zuojiantou1:before {
  content: "\e62b";
}

.icon-youjiantou1:before {
  content: "\e62c";
}

.icon-jiantoushang:before {
  content: "\e62d";
}

.icon-jiantoushang1:before {
  content: "\e62f";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-xiangyingshi:before {
  content: "\e635";
}

.icon-tuiguang:before {
  content: "\e636";
}

.icon-shouhou:before {
  content: "\e638";
}

.icon-taishiji:before {
  content: "\e63a";
}

.icon-shouji:before {
  content: "\e63e";
}

.icon-pingban:before {
  content: "\e642";
}

.icon-bijiben:before {
  content: "\e646";
}

